@model Ensure.Web.Data.AppUser
@{
    ViewData["Title"] = Model.UserName;
    Microsoft.Extensions.Primitives.StringValues returnHomeQuery = new();
    Context.Request.Query.TryGetValue("returnHome", out returnHomeQuery);
}

<h2 class="">@Model.UserName</h2>
<h6 class="text-secondary">@Model.Email</h6>

<form method="post" asp-action="UpdateTarget" asp-controller="Account" asp-route-returnHome="@returnHomeQuery.FirstOrDefault()">
    <div class="form-row">
        <div class="col">
            <span>Daily target:</span>
        </div>
        <div class="col">
            <input type="number" class="form-control" asp-for="DailyTarget" min="0" required>
        </div>
        <div class="col">
            <button class="btn btn-primary">Save</button>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
