@{
    ViewData["Title"] = "Reset Password";
}
<h2>Password Reset</h2>
<h6>Enter your email address and and email will be sent to you shortly with all the details.</h6>
<form method="post" asp-action="ResetPassword">
    <div class="form-group">
        <label for="Email" class="control-label">Email Address</label>
        <input name="Email" class="form-control" required type="email" />
    </div>
    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
