@model PasswordResetViewModel
@{
    ViewData["Title"] = "Finish Password Reset";
}

<h2>Finish Password reset</h2>
<form asp-action="PasswordResetFinish" asp-controller="Account" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="UserName" />
    <input type="hidden" asp-for="Token" />
    <div class="form-group">
        <label asp-for="NewPassword" class="control-label"></label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPasswordVertification" class="control-label"></label>
        <input asp-for="NewPasswordVertification" class="form-control" />
        <span asp-validation-for="NewPasswordVertification" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Go" class="btn btn-primary" />
    </div>
</form>